USE [QL_HDPHONGLAB]
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[MANCC] [varchar](20) NOT NULL,
	[MAHC] [varchar](20) NOT NULL,
	[MATB] [varchar](20) NOT NULL,
	[MADC] [varchar](20) NOT NULL,
	[GIATHAMKHAOHC] [float] NULL,
	[GIATHAMKHAOTB] [float] NULL,
	[GIATHAMKHAODC] [float] NULL,
 CONSTRAINT [PK_BANGGIA] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETKIEMDUYET]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETKIEMDUYET](
	[MAKD] [int] NOT NULL,
	[MAHC] [varchar](20) NOT NULL,
	[SOLUONGNHAP] [int] NULL,
	[NGAYDUYET] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKD] ASC,
	[MAHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SOLUONGNHAP] [int] NULL,
	[TU] [nvarchar](50) NULL,
	[DEN] [nvarchar](50) NULL,
	[GIANHAP] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTPN_PN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP_KHOA]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP_KHOA](
	[MAPN_KHOA] [int] IDENTITY(1,1) NOT NULL,
	[MAHC_CNTP] [varchar](20) NULL,
	[MATB_CNTP] [varchar](20) NULL,
	[MADC_CNTP] [varchar](20) NULL,
	[SOLUONGNHAP] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAPN_KHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUTHANHLY]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTHANHLY](
	[MATL] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SLTON] [int] NULL,
	[SLTHANHLY] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUTHANHLY] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPX] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MAHC_CNTP] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SOLUONGXUAT] [int] NULL,
	[TU] [nvarchar](50) NULL,
	[DEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DUNGCU]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DUNGCU](
	[MADC] [varchar](20) NOT NULL,
	[SOLO] [int] NULL,
	[XUATXU] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[SOPHIEUNHAP] [int] NULL,
 CONSTRAINT [PK_CT_DUNGCU] PRIMARY KEY CLUSTERED 
(
	[MADC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOACHAT]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOACHAT](
	[MAHC] [varchar](20) NOT NULL,
	[SOLO] [int] NULL,
	[XUATXU] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[NGAYNHAP] [datetime] NULL,
	[SOPHIEUNHAP] [int] NULL,
	[DVCUNGCAP] [nvarchar](max) NULL,
	[NGAYHETHAN] [datetime] NULL,
 CONSTRAINT [PK_CT_HOACHAT] PRIMARY KEY CLUSTERED 
(
	[MAHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUMUON]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUMUON](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUTRA]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUTRA](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_THIETBI]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_THIETBI](
	[MATB] [varchar](20) NOT NULL,
	[SOLO] [int] NULL,
	[XUATXU] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[LUONGNHAP] [int] NULL,
	[LUONGXUAT] [int] NULL,
	[LUONGTON] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[SOPHIEUNHAP] [int] NULL,
	[DVCUNGCAP] [nvarchar](max) NULL,
	[NGAYHETHAN] [datetime] NULL,
 CONSTRAINT [PK_CT_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANGKYPHONG]    Script Date: 2/11/2023 9:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGKYPHONG](
	[MADK] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_GV] [nvarchar](max) NULL,
	[DIACHI_GV] [nvarchar](max) NULL,
	[SDT_GV] [nvarchar](12) NULL,
	[NGAY_DKPH] [date] NULL,
	[NGAY_TRAPH] [date] NULL,
	[PHONGCHIDINH] [varchar](20) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_DANGKYPHONG] PRIMARY KEY CLUSTERED 
(
	[MADK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOIMATKHAU]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOIMATKHAU](
	[MAND] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[NEWPASSWORD] [nvarchar](50) NOT NULL,
	[CONFIRMPASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DOIMATKHAU] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DUNGCU]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUNGCU](
	[MADC] [varchar](20) NOT NULL,
	[TENDC] [nvarchar](max) NULL,
	[LUONGNHAP] [int] NULL,
	[LUONGXUAT] [int] NULL,
	[LUONGTON] [int] NULL,
	[LUONGTHANHLY] [int] NULL,
	[DVT] [nvarchar](max) NULL,
	[NGAYNHAP] [datetime] NULL,
	[GIOSD] [int] NULL,
	[HINHANH] [varchar](max) NULL,
	[MALOAI] [varchar](20) NULL,
 CONSTRAINT [PK_DUNGCU] PRIMARY KEY CLUSTERED 
(
	[MADC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUNGCU_CNTP]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUNGCU_CNTP](
	[MADC] [varchar](20) NOT NULL,
	[TENDC] [nvarchar](max) NULL,
	[LUONGTON] [int] NULL,
	[LUONGTHANHLY] [int] NULL,
	[DVT] [nvarchar](max) NULL,
	[GIOSD] [int] NULL,
 CONSTRAINT [PK_DUNGCU_CNTP] PRIMARY KEY CLUSTERED 
(
	[MADC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUTRUDUNGCU]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUTRUDUNGCU](
	[MADC] [varchar](20) NOT NULL,
	[TENDC] [nvarchar](max) NULL,
	[DACTA] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_DUTRUDUNGCU] PRIMARY KEY CLUSTERED 
(
	[MADC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUTRUHOACHAT]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUTRUHOACHAT](
	[MAHC] [varchar](20) NOT NULL,
	[TENHC] [nvarchar](max) NULL,
	[DACTA] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_DUTRUHOACHAT] PRIMARY KEY CLUSTERED 
(
	[MAHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUTRUTHIETBI]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUTRUTHIETBI](
	[MATB] [varchar](20) NOT NULL,
	[TENTB] [nvarchar](max) NULL,
	[DACTA] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_DUTRUTHIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[MAPHBAN] [varchar](20) NOT NULL,
	[VAITRO] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOACHAT]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOACHAT](
	[MAHC] [varchar](20) NOT NULL,
	[TENHC] [nvarchar](max) NULL,
	[MALHC] [int] NULL,
	[THONGSO] [int] NULL,
	[CASNO] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[LUONGNHAP] [int] NULL,
	[LUONGXUAT] [int] NULL,
	[LUONGTON] [int] NULL,
	[LUONGTHANHLY] [int] NULL,
	[GIANHAP] [float] NULL,
	[HINHANH] [varchar](max) NULL,
	[MALOAI] [varchar](20) NULL,
 CONSTRAINT [PK_HOACHAT] PRIMARY KEY CLUSTERED 
(
	[MAHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOACHAT_CNTP]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOACHAT_CNTP](
	[MAHC_CNTP] [varchar](20) NOT NULL,
	[TENHC_CNTP] [nvarchar](max) NULL,
	[MALHC] [int] NULL,
	[THONGSO] [int] NULL,
	[CASNO] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[LUONGNHAP] [int] NULL,
	[LUONGTON] [int] NULL,
	[LUONGTHANHLY] [int] NULL,
 CONSTRAINT [PK_HOACHAT_CNTP] PRIMARY KEY CLUSTERED 
(
	[MAHC_CNTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOANTRA]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOANTRA](
	[MAHT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTRA] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGUOITRA] [nvarchar](max) NULL,
	[TU] [nvarchar](50) NULL,
	[DEN] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOANTRA] PRIMARY KEY CLUSTERED 
(
	[MAHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LISTTHANHLY]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LISTTHANHLY](
	[MALIST] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[MATB] [varchar](20) NULL,
	[MADC] [varchar](20) NULL,
	[SLTHANHLY] [int] NULL,
	[TRANGTHAI] [nvarchar](max) NULL,
 CONSTRAINT [PK_LISTTL] PRIMARY KEY CLUSTERED 
(
	[MALIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHOACHAT]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHOACHAT](
	[MALHC] [int] NOT NULL,
	[TENLHC] [nvarchar](100) NULL,
	[TONGSOLUONG] [int] NULL,
 CONSTRAINT [PK_LOAIHC] PRIMARY KEY CLUSTERED 
(
	[MALHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONGLAB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONGLAB](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIPHONGLAB] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITTB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITTB](
	[MALOAI] [varchar](20) NOT NULL,
	[TENLOAI] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOAITTB] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUONDC]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MUONDC](
	[MAMDC] [int] IDENTITY(1,1) NOT NULL,
	[MADC] [varchar](20) NULL,
	[TENDC] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_MUONDC] PRIMARY KEY CLUSTERED 
(
	[MAMDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUONHC]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MUONHC](
	[MAMHC] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[TENHC] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_MUONHC] PRIMARY KEY CLUSTERED 
(
	[MAMHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUONTB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MUONTB](
	[MAMTB] [int] IDENTITY(1,1) NOT NULL,
	[MATB] [varchar](20) NULL,
	[TENTB] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_MUONTB] PRIMARY KEY CLUSTERED 
(
	[MAMTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [varchar](20) NOT NULL,
	[TENNCC] [nvarchar](max) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](max) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](15) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CONFIRMPASSWORD] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[MAQUYEN] [int] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NSX](
	[MANSX] [varchar](20) NOT NULL,
	[TENNSX] [nvarchar](max) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](max) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQUYEN] [int] NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUKIEMDUYET]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKIEMDUYET](
	[MAKD] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[NGAYTAO] [datetime] NULL,
	[NGAYNHAP] [datetime] NULL,
	[TRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUON] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[CHAPNHAN] [bit] NULL,
	[TINHTRANG] [int] NULL,
	[MAND] [int] NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[MANCC] [varchar](20) NULL,
	[NGUOINHAN] [nvarchar](max) NULL,
	[TONGTIEN] [float] NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP_KHOA]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP_KHOA](
	[MAPN_KHOA] [int] IDENTITY(1,1) NOT NULL,
	[MAHC_CNTP] [varchar](20) NULL,
	[MATB_CNTP] [varchar](20) NULL,
	[MADC_CNTP] [varchar](20) NULL,
	[NGAYNHAP] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGUOIKIEMDUYET] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUNHAP_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAPN_KHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHANHLY]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHANHLY](
	[MATL] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTL] [datetime] NULL,
	[NGUOIDUYET] [nvarchar](max) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUTHANHLY] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTRA] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[CHAPNHAN] [bit] NULL,
	[TINHTRANG] [int] NULL,
	[MAND] [int] NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANXUAT] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAYXUAT] [datetime] NULL,
	[MAPHBAN] [varchar](20) NULL,
	[CHAPNHAN] [bit] NULL,
	[NGUOICHAPNHAN] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUATPHONGLAB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATPHONGLAB](
	[MAPXPHLAB] [int] NOT NULL,
	[THOIGIANXUAT] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGUOIXUAT] [nvarchar](max) NULL,
	[MAPHLAB] [int] NULL,
	[CHAPNHAN] [bit] NULL,
	[NGUOICHAPNHAN] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUXUATPHONGLAB] PRIMARY KEY CLUSTERED 
(
	[MAPXPHLAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHBAN] [varchar](20) NOT NULL,
	[TENPHBAN] [nvarchar](max) NULL,
	[DIADIEM] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHBAN] PRIMARY KEY CLUSTERED 
(
	[MAPHBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGLAB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGLAB](
	[MAPHLAB] [int] IDENTITY(1,1) NOT NULL,
	[SOPHONG] [nvarchar](5) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[TRANGTHAI] [int] NULL,
	[LOAIPHONG] [int] NULL,
	[SUCCHUA] [int] NULL,
	[DIADIEM] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[LABActive] [bit] NULL,
 CONSTRAINT [PK_PHLAB] PRIMARY KEY CLUSTERED 
(
	[MAPHLAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](20) NOT NULL,
	[TENSV] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](6) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUKIEN]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUKIEN](
	[MASK] [int] NOT NULL,
	[MAGV] [varchar](20) NOT NULL,
	[BD] [datetime] NULL,
	[KT] [datetime] NULL,
	[ThemeColor] [nvarchar](10) NULL,
	[MOTA] [nvarchar](max) NULL,
 CONSTRAINT [PK_SK] PRIMARY KEY CLUSTERED 
(
	[MASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [varchar](20) NOT NULL,
	[TENTB] [nvarchar](max) NULL,
	[QUICACH] [nvarchar](max) NULL,
	[SLBANDAU] [int] NULL,
	[SLXUAT] [int] NULL,
	[SLTON] [int] NULL,
	[SLTHANHLY] [int] NULL,
	[TAPHUAN] [bit] NULL,
	[SERIAL] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[MALOAI] [varchar](20) NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI_CNTP]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI_CNTP](
	[MATB] [varchar](20) NOT NULL,
	[TENTB] [nvarchar](max) NULL,
	[QUICACH] [nvarchar](max) NULL,
	[SLTON] [int] NULL,
	[SLTHANHLY] [int] NULL,
	[SERIAL] [nvarchar](max) NULL,
 CONSTRAINT [PK_THIETBI_CNTP] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRADC]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRADC](
	[MATDC] [int] IDENTITY(1,1) NOT NULL,
	[MADC] [varchar](20) NULL,
	[TENDC] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_TRADC] PRIMARY KEY CLUSTERED 
(
	[MATDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRAHC]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRAHC](
	[MATHC] [int] IDENTITY(1,1) NOT NULL,
	[MAHC] [varchar](20) NULL,
	[TENHC] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_TRAHC] PRIMARY KEY CLUSTERED 
(
	[MATHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRATB]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRATB](
	[MATTB] [int] IDENTITY(1,1) NOT NULL,
	[MATB] [varchar](20) NULL,
	[TENTB] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_TRATB] PRIMARY KEY CLUSTERED 
(
	[MATTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TTBTRA]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTBTRA](
	[MAHT_id] [int] IDENTITY(1,1) NOT NULL,
	[MAHC_id] [varchar](20) NOT NULL,
	[MATB_id] [varchar](20) NULL,
	[MADC_id] [varchar](20) NULL,
	[SOLUONGTRA] [int] NULL,
 CONSTRAINT [PK_TTBTRA_MAHT_MAHC] PRIMARY KEY CLUSTERED 
(
	[MAHT_id] ASC,
	[MAHC_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TTDANGKY]    Script Date: 2/11/2023 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTDANGKY](
	[MATT] [int] NOT NULL,
	[TRANGTHAI] [varchar](50) NULL,
 CONSTRAINT [PK_TTDANGKY] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGGIA] ([MANCC], [MAHC], [MATB], [MADC], [GIATHAMKHAOHC], [GIATHAMKHAOTB], [GIATHAMKHAODC]) VALUES (N'NCC01', N'HC01', N'TB01', N'DC01', 150000, 200000, 150000)
INSERT [dbo].[BANGGIA] ([MANCC], [MAHC], [MATB], [MADC], [GIATHAMKHAOHC], [GIATHAMKHAOTB], [GIATHAMKHAODC]) VALUES (N'NCC02', N'HC02', N'TB02', N'DC02', 250000, 250000, 160000)
INSERT [dbo].[BANGGIA] ([MANCC], [MAHC], [MATB], [MADC], [GIATHAMKHAOHC], [GIATHAMKHAOTB], [GIATHAMKHAODC]) VALUES (N'NCC03', N'HC03', N'TB03', N'DC03', 350000, 260000, 170000)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MAHC], [MATB], [MADC], [SOLUONGNHAP], [TU], [DEN], [GIANHAP], [THANHTIEN]) VALUES (1, N'HC01', N'TB01', N'DC01', 30, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', N'Trung tâm thí nghiệm thực hành', 100000, 30000000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MAHC], [MATB], [MADC], [SOLUONGNHAP], [TU], [DEN], [GIANHAP], [THANHTIEN]) VALUES (2, N'HC02', N'TB02', N'DC02', 25, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI PHI PHỤNG', N'Trung tâm thí nghiệm thực hành', 100000, 28000000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MAHC], [MATB], [MADC], [SOLUONGNHAP], [TU], [DEN], [GIANHAP], [THANHTIEN]) VALUES (3, N'HC03', N'TB03', N'DC03', 27, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI MỸ HOÀNG GIA', N'Trung tâm thí nghiệm thực hành', 100000, 27000000)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP_KHOA] ON 

INSERT [dbo].[CHITIETPHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [SOLUONGNHAP]) VALUES (1, N'HC01', N'TB01', N'DC01', 2)
INSERT [dbo].[CHITIETPHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [SOLUONGNHAP]) VALUES (2, N'HC02', N'TB02', N'DC02', 2)
INSERT [dbo].[CHITIETPHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [SOLUONGNHAP]) VALUES (3, N'HC03', N'TB03', N'DC03', 2)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP_KHOA] OFF
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUXUAT] ON 

INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MAHC], [MAHC_CNTP], [MATB], [MADC], [SOLUONGXUAT], [TU], [DEN]) VALUES (1, N'HC01', N'HC01', N'TB01', N'DC01', 10, N'Trung tâm thí nghiệm thực hành', N'Khoa CNTP')
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MAHC], [MAHC_CNTP], [MATB], [MADC], [SOLUONGXUAT], [TU], [DEN]) VALUES (2, N'HC02', N'HC01', N'TB02', N'DC02', 20, N'Trung tâm thí nghiệm thực hành', N'Khoa CNTP')
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MAHC], [MAHC_CNTP], [MATB], [MADC], [SOLUONGXUAT], [TU], [DEN]) VALUES (3, N'HC03', N'HC01', N'TB03', N'DC03', 15, N'Trung tâm thí nghiệm thực hành', N'Khoa CNTP')
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUXUAT] OFF
INSERT [dbo].[CT_DUNGCU] ([MADC], [SOLO], [XUATXU], [DONVI], [SOPHIEUNHAP]) VALUES (N'DC01', 123, N'TRUNG QUỐC', N'CÁI', 1)
INSERT [dbo].[CT_DUNGCU] ([MADC], [SOLO], [XUATXU], [DONVI], [SOPHIEUNHAP]) VALUES (N'DC02', 123, N'TRUNG QUỐC', N'CÁI', 2)
INSERT [dbo].[CT_DUNGCU] ([MADC], [SOLO], [XUATXU], [DONVI], [SOPHIEUNHAP]) VALUES (N'DC03', 123, N'TRUNG QUỐC', N'CÁI', 3)
INSERT [dbo].[CT_HOACHAT] ([MAHC], [SOLO], [XUATXU], [DONVI], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'HC01', 1, N'HÀN QUỐC', N'CHAI', CAST(0x0000AE1000000000 AS DateTime), 1, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', CAST(0x0000AF7D00000000 AS DateTime))
INSERT [dbo].[CT_HOACHAT] ([MAHC], [SOLO], [XUATXU], [DONVI], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'HC02', 2, N'TRUNG QUỐC', N'CHAI', CAST(0x0000AE3000000000 AS DateTime), 2, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI PHI PHỤNG', CAST(0x0000AF9D00000000 AS DateTime))
INSERT [dbo].[CT_HOACHAT] ([MAHC], [SOLO], [XUATXU], [DONVI], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'HC03', 3, N'NHẬT BẢN', N'CHAI', CAST(0x0000AE4D00000000 AS DateTime), 3, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI MỸ HOÀNG GIA', CAST(0x0000AFBA00000000 AS DateTime))
INSERT [dbo].[CT_THIETBI] ([MATB], [SOLO], [XUATXU], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'TB01', 123, N'TRUNG QUỐC', N'CÁI', 100, 20, 80, CAST(0x0000AF0A00000000 AS DateTime), 1, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', CAST(0x0000B1E500000000 AS DateTime))
INSERT [dbo].[CT_THIETBI] ([MATB], [SOLO], [XUATXU], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'TB02', 124, N'TRUNG QUỐC', N'CÁI', 100, 20, 80, CAST(0x0000AF0A00000000 AS DateTime), 2, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', CAST(0x0000B1E500000000 AS DateTime))
INSERT [dbo].[CT_THIETBI] ([MATB], [SOLO], [XUATXU], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [NGAYNHAP], [SOPHIEUNHAP], [DVCUNGCAP], [NGAYHETHAN]) VALUES (N'TB03', 125, N'TRUNG QUỐC', N'CÁI', 100, 20, 80, CAST(0x0000AF0A00000000 AS DateTime), 3, N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', CAST(0x0000B1E500000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[DOIMATKHAU] ON 

INSERT [dbo].[DOIMATKHAU] ([MAND], [EMAIL], [PASSWORD], [NEWPASSWORD], [CONFIRMPASSWORD]) VALUES (1, N'hoangvanthu01@gmail.com', N'gv01', N'123456', N'123456')
INSERT [dbo].[DOIMATKHAU] ([MAND], [EMAIL], [PASSWORD], [NEWPASSWORD], [CONFIRMPASSWORD]) VALUES (2, N'huynhhoanghoa02@gmail.com', N'gv02', N'123456', N'123456')
INSERT [dbo].[DOIMATKHAU] ([MAND], [EMAIL], [PASSWORD], [NEWPASSWORD], [CONFIRMPASSWORD]) VALUES (3, N'nguyenhoangduong03@gmail.com', N'tk03', N'123456', N'123456')
SET IDENTITY_INSERT [dbo].[DOIMATKHAU] OFF
INSERT [dbo].[DUNGCU] ([MADC], [TENDC], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [DVT], [NGAYNHAP], [GIOSD], [HINHANH], [MALOAI]) VALUES (N'DC01', N'CHẢO', 140, 20, 120, 0, N'CÁI', CAST(0x0000AEAA00000000 AS DateTime), 4, N'dc01.jpg', N'LOAI03')
INSERT [dbo].[DUNGCU] ([MADC], [TENDC], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [DVT], [NGAYNHAP], [GIOSD], [HINHANH], [MALOAI]) VALUES (N'DC02', N'DAO', 140, 20, 120, 0, N'CÁI', CAST(0x0000AEA900000000 AS DateTime), 2, N'dc02.jpg', N'LOAI03')
INSERT [dbo].[DUNGCU] ([MADC], [TENDC], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [DVT], [NGAYNHAP], [GIOSD], [HINHANH], [MALOAI]) VALUES (N'DC03', N'ĐĨA', 140, 20, 120, 0, N'CÁI', CAST(0x0000AEA800000000 AS DateTime), 4, N'dc03.jpg', N'LOAI03')
INSERT [dbo].[DUNGCU_CNTP] ([MADC], [TENDC], [LUONGTON], [LUONGTHANHLY], [DVT], [GIOSD]) VALUES (N'DC01', N'CHẢO', 20, 0, N'CÁI', 4)
INSERT [dbo].[DUNGCU_CNTP] ([MADC], [TENDC], [LUONGTON], [LUONGTHANHLY], [DVT], [GIOSD]) VALUES (N'DC02', N'DAO', 20, 0, N'CÁI', 2)
INSERT [dbo].[DUNGCU_CNTP] ([MADC], [TENDC], [LUONGTON], [LUONGTHANHLY], [DVT], [GIOSD]) VALUES (N'DC03', N'ĐĨA', 20, 0, N'CÁI', 4)
INSERT [dbo].[DUTRUDUNGCU] ([MADC], [TENDC], [DACTA], [SOLUONG]) VALUES (N'DC01', N'CHẢO', N'QUẢN LÝ DỤNG CỤ DOANH THU TRONG NĂM', 20)
INSERT [dbo].[DUTRUDUNGCU] ([MADC], [TENDC], [DACTA], [SOLUONG]) VALUES (N'DC02', N'DAO', N'QUẢN LÝ DỤNG CỤ DOANH THU TRONG NĂM', 60)
INSERT [dbo].[DUTRUDUNGCU] ([MADC], [TENDC], [DACTA], [SOLUONG]) VALUES (N'DC03', N'ĐĨA', N'QUẢN LÝ DỤNG CỤ DOANH THU TRONG NĂM', 30)
INSERT [dbo].[DUTRUHOACHAT] ([MAHC], [TENHC], [DACTA], [SOLUONG]) VALUES (N'HC01', N'KALI HIDROXIT KOH', N'TỔNG NHẬP XUẤT HÓA CHẤT TRONG NĂM NAY', 50)
INSERT [dbo].[DUTRUHOACHAT] ([MAHC], [TENHC], [DACTA], [SOLUONG]) VALUES (N'HC02', N'NATRI HIDROXIT NAOH', N'TỔNG NHẬP XUẤT HÓA CHẤT TRONG NĂM NAY', 60)
INSERT [dbo].[DUTRUHOACHAT] ([MAHC], [TENHC], [DACTA], [SOLUONG]) VALUES (N'HC03', N'BARI HIDROXIT BaOH', N'TỔNG NHẬP XUẤT HÓA CHẤT TRONG NĂM NAY', 70)
INSERT [dbo].[DUTRUTHIETBI] ([MATB], [TENTB], [DACTA], [SOLUONG]) VALUES (N'TB01', N'THÙNG MÁY CPU', N'TÍNH TOÁN SẢN LƯỢNG TRONG NĂM NAY', 100)
INSERT [dbo].[DUTRUTHIETBI] ([MATB], [TENTB], [DACTA], [SOLUONG]) VALUES (N'TB02', N'QUẠT TẢN NHIỆT', N'TÍNH TOÁN SẢN LƯỢNG TRONG NĂM NAY', 50)
INSERT [dbo].[DUTRUTHIETBI] ([MATB], [TENTB], [DACTA], [SOLUONG]) VALUES (N'TB03', N'CPU', N'TÍNH TOÁN SẢN LƯỢNG TRONG NĂM NAY', 70)
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [MAPHBAN], [VAITRO]) VALUES (N'GV01', N'HUỲNH HOÀNG HOA', CAST(0x0000861E00000000 AS DateTime), N'NỮ', N'09877837', N'TPHCM', N'KHOA01', N'GIẢNG VIÊN')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [MAPHBAN], [VAITRO]) VALUES (N'GV02', N'TRẦN HUỲNH SA', CAST(0x000080C400000000 AS DateTime), N'NỮ', N'08277837', N'CẦN GIỜ', N'KHOA02', N'GIẢNG VIÊN')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [MAPHBAN], [VAITRO]) VALUES (N'GV03', N'HUỲNH HOÀNG CHƯƠNG', CAST(0x0000803600000000 AS DateTime), N'NAM', N'09277837', N'CỦ CHI', N'KHOA03', N'GIẢNG VIÊN')
INSERT [dbo].[HOACHAT] ([MAHC], [TENHC], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [GIANHAP], [HINHANH], [MALOAI]) VALUES (N'HC01', N'KALI HIDROXIT', 1, 1300, N'SZHA0199', N'CHAI', 60, 10, 50, 0, 150000, N'hc01.jpg', N'LOAI01')
INSERT [dbo].[HOACHAT] ([MAHC], [TENHC], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [GIANHAP], [HINHANH], [MALOAI]) VALUES (N'HC02', N'NATRI HIDROXIT', 2, 1200, N'JHXHJS112', N'CHAI', 60, 10, 50, 0, 120000, N'hc02.jpg', N'LOAI01')
INSERT [dbo].[HOACHAT] ([MAHC], [TENHC], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGXUAT], [LUONGTON], [LUONGTHANHLY], [GIANHAP], [HINHANH], [MALOAI]) VALUES (N'HC03', N'BARI HIDROXIT', 3, 1100, N'NSHJ10293', N'CHAI', 60, 10, 50, 0, 110000, N'hc03.jpg', N'LOAI01')
INSERT [dbo].[HOACHAT_CNTP] ([MAHC_CNTP], [TENHC_CNTP], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGTON], [LUONGTHANHLY]) VALUES (N'HC01', N'KALI HIDROXIT KOH', 1, 1300, N'SZHA0199', N'CHAI', 10, 50, 0)
INSERT [dbo].[HOACHAT_CNTP] ([MAHC_CNTP], [TENHC_CNTP], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGTON], [LUONGTHANHLY]) VALUES (N'HC02', N'NATRI HIDROXIT NAOH', 2, 1200, N'JHXHJS112', N'CHAI', 10, 50, 0)
INSERT [dbo].[HOACHAT_CNTP] ([MAHC_CNTP], [TENHC_CNTP], [MALHC], [THONGSO], [CASNO], [DONVI], [LUONGNHAP], [LUONGTON], [LUONGTHANHLY]) VALUES (N'HC03', N'BARI HIDROXIT BaOH', 3, 1100, N'NSHJ10293', N'CHAI', 10, 50, 0)
SET IDENTITY_INSERT [dbo].[HOANTRA] ON 

INSERT [dbo].[HOANTRA] ([MAHT], [NGAYTRA], [NOIDUNG], [NGUOITRA], [TU], [DEN], [GHICHU]) VALUES (1, CAST(0x0000AF4A00000000 AS DateTime), N'HOÁ CHẤT BỊ HƯ HẠI', N'TRẦN VĂN HOÀNG', N'TTTNTH CÔNG NGHỆ THÔNG TIN', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', N'')
INSERT [dbo].[HOANTRA] ([MAHT], [NGAYTRA], [NOIDUNG], [NGUOITRA], [TU], [DEN], [GHICHU]) VALUES (2, CAST(0x0000AF1000000000 AS DateTime), N'HOÁ CHẤT BỊ HƯ HẠI', N'TRẦN VĂN HOÀNG', N'TTTNTH CÔNG NGHIỆP THỰC PHẨM', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', N'')
INSERT [dbo].[HOANTRA] ([MAHT], [NGAYTRA], [NOIDUNG], [NGUOITRA], [TU], [DEN], [GHICHU]) VALUES (3, CAST(0x0000AEF000000000 AS DateTime), N'HOÁ CHẤT BỊ HƯ HẠI', N'TRẦN VĂN HOÀNG', N'TTTNTH CÔNG NGHỆ HÓA HỌC', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', N'')
SET IDENTITY_INSERT [dbo].[HOANTRA] OFF
SET IDENTITY_INSERT [dbo].[LISTTHANHLY] ON 

INSERT [dbo].[LISTTHANHLY] ([MALIST], [MAHC], [MATB], [MADC], [SLTHANHLY], [TRANGTHAI]) VALUES (1, N'HC01', N'TB01', N'DC01', 10, N'CHỜ THANH LÝ')
INSERT [dbo].[LISTTHANHLY] ([MALIST], [MAHC], [MATB], [MADC], [SLTHANHLY], [TRANGTHAI]) VALUES (2, N'HC02', N'TB02', N'DC02', 5, N'CHỜ THANH LÝ')
INSERT [dbo].[LISTTHANHLY] ([MALIST], [MAHC], [MATB], [MADC], [SLTHANHLY], [TRANGTHAI]) VALUES (3, N'HC03', N'TB03', N'DC03', 6, N'ĐÃ THANH LÝ')
SET IDENTITY_INSERT [dbo].[LISTTHANHLY] OFF
INSERT [dbo].[LOAIHOACHAT] ([MALHC], [TENLHC], [TONGSOLUONG]) VALUES (1, N'NƯỚC', 20)
INSERT [dbo].[LOAIHOACHAT] ([MALHC], [TENLHC], [TONGSOLUONG]) VALUES (2, N'AXIT', 30)
INSERT [dbo].[LOAIHOACHAT] ([MALHC], [TENLHC], [TONGSOLUONG]) VALUES (3, N'AMONIAC', 10)
INSERT [dbo].[LOAIPHONGLAB] ([MALOAI], [TENLOAI]) VALUES (1, N'NHỎ')
INSERT [dbo].[LOAIPHONGLAB] ([MALOAI], [TENLOAI]) VALUES (2, N'VỪA')
INSERT [dbo].[LOAIPHONGLAB] ([MALOAI], [TENLOAI]) VALUES (3, N'LỚN')
INSERT [dbo].[LOAITTB] ([MALOAI], [TENLOAI]) VALUES (N'LOAI01', N'HOÁ CHẤT')
INSERT [dbo].[LOAITTB] ([MALOAI], [TENLOAI]) VALUES (N'LOAI02', N'THIẾT BỊ')
INSERT [dbo].[LOAITTB] ([MALOAI], [TENLOAI]) VALUES (N'LOAI03', N'DỤNG CỤ')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (N'NCC01', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN', N'05632258', N'TPHCM')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (N'NCC02', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI PHI PHỤNG', N'02555332', N'HÀ NỘI')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (N'NCC03', N'NHÀ CUNG CẤP VÀ PHÂN PHỐI MỸ HOÀNG GIA', N'05558872', N'CỦ CHI')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [CONFIRMPASSWORD], [HOTEN], [EMAIL], [DIENTHOAI], [DIACHI], [MAQUYEN]) VALUES (1, N'giaovien01', N'gv01', N'gv01', N'HOÀNG VĂN THỤ', N'hoangvanthu01@gmail.com', N'096854234', N'TÂN PHÚ', 2)
INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [CONFIRMPASSWORD], [HOTEN], [EMAIL], [DIENTHOAI], [DIACHI], [MAQUYEN]) VALUES (2, N'giaovien02', N'gv02', N'gv02', N'HUỲNH HOÀNG HOA', N'huynhhoanghoa02@gmail.com', N'08965548', N'CỦ CHI', 2)
INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [CONFIRMPASSWORD], [HOTEN], [EMAIL], [DIENTHOAI], [DIACHI], [MAQUYEN]) VALUES (3, N'truongkhoa03', N'tk03', N'tk03', N'NGUYỄN HOÀNG DƯƠNG', N'nguyenhoangduong03@gmail.com', N'096854234', N'PHÚ NHUẬN', 3)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
INSERT [dbo].[NSX] ([MANSX], [TENNSX], [SDT], [DIACHI]) VALUES (N'NSX01', N'NHÀ SẢN XUẤT HÓA CHẤT VIỆT KIỀU', N'03258892', N'ENGLAND')
INSERT [dbo].[NSX] ([MANSX], [TENNSX], [SDT], [DIACHI]) VALUES (N'NSX02', N'NHÀ SẢN XUẤT THIẾT BỊ Á ÂU', N'05889525', N'AMERICA')
INSERT [dbo].[NSX] ([MANSX], [TENNSX], [SDT], [DIACHI]) VALUES (N'NSX03', N'NHÀ SẢN XUẤT DỤNG CU JETPOST', N'0255692', N'GERMANY')
INSERT [dbo].[PHANQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (1, N'TRƯỞNG KHOA')
INSERT [dbo].[PHANQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (2, N'GIẢNG VIÊN')
INSERT [dbo].[PHANQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (3, N'SINH VIÊN')
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [NOIDUNG], [MANCC], [NGUOINHAN], [TONGTIEN], [GHICHU]) VALUES (1, CAST(0x0000AEF900000000 AS DateTime), N'Nhập trang thiết bị từ NCC', N'NCC01', N'NGUYỄN TRỌNG NGHĨA', 100000, N'')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [NOIDUNG], [MANCC], [NGUOINHAN], [TONGTIEN], [GHICHU]) VALUES (2, CAST(0x0000AF0C00000000 AS DateTime), N'Nhập trang thiết bị từ NCC', N'NCC02', N'NGUYỄN MINH KHUÊ', 100000, N'')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [NOIDUNG], [MANCC], [NGUOINHAN], [TONGTIEN], [GHICHU]) VALUES (3, CAST(0x0000AED000000000 AS DateTime), N'Nhập trang thiết bị từ NCC', N'NCC03', N'ĐỖ MINH TRÍ', 100000, N'')
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP_KHOA] ON 

INSERT [dbo].[PHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [NGAYNHAP], [NOIDUNG], [NGUOIKIEMDUYET], [GHICHU]) VALUES (1, N'HC01', N'TB01', N'DC01', CAST(0x0000AEFA00000000 AS DateTime), N'NHẬP TRANG THIẾT BỊ VỀ KHOA', N'HUỲNH VĂN TÙNG', N'ABCXYZ')
INSERT [dbo].[PHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [NGAYNHAP], [NOIDUNG], [NGUOIKIEMDUYET], [GHICHU]) VALUES (2, N'HC02', N'TB02', N'DC02', CAST(0x0000AF1900000000 AS DateTime), N'NHẬP TRANG THIẾT BỊ VỀ KHOA', N'HUỲNH VĂN TÙNG', N'ABCXYZ')
INSERT [dbo].[PHIEUNHAP_KHOA] ([MAPN_KHOA], [MAHC_CNTP], [MATB_CNTP], [MADC_CNTP], [NGAYNHAP], [NOIDUNG], [NGUOIKIEMDUYET], [GHICHU]) VALUES (3, N'HC03', N'TB03', N'DC03', CAST(0x0000AF3700000000 AS DateTime), N'NHẬP TRANG THIẾT BỊ VỀ KHOA', N'HUỲNH VĂN TÙNG', N'ABCXYZ')
SET IDENTITY_INSERT [dbo].[PHIEUNHAP_KHOA] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHANHLY] ON 

INSERT [dbo].[PHIEUTHANHLY] ([MATL], [NGAYTL], [NGUOIDUYET], [NOIDUNG], [GHICHU]) VALUES (1, CAST(0x0000AF2C00000000 AS DateTime), N'HOÀNG VĂN HOÀNG', N'THANH LÝ TRANG THIẾT BỊ BỊ HƯ HỎNG', N'123')
INSERT [dbo].[PHIEUTHANHLY] ([MATL], [NGAYTL], [NGUOIDUYET], [NOIDUNG], [GHICHU]) VALUES (2, CAST(0x0000AEEF00000000 AS DateTime), N'HOÀNG VĂN HOÀNG', N'THANH LÝ TRANG THIẾT BỊ BỊ HƯ HỎNG', N'123')
INSERT [dbo].[PHIEUTHANHLY] ([MATL], [NGAYTL], [NGUOIDUYET], [NOIDUNG], [GHICHU]) VALUES (3, CAST(0x0000AF0C00000000 AS DateTime), N'HOÀNG VĂN HOÀNG', N'THANH LÝ TRANG THIẾT BỊ BỊ HƯ HỎNG', N'123')
SET IDENTITY_INSERT [dbo].[PHIEUTHANHLY] OFF
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] ON 

INSERT [dbo].[PHIEUXUAT] ([MAPX], [THOIGIANXUAT], [NOIDUNG], [NGAYXUAT], [MAPHBAN], [CHAPNHAN], [NGUOICHAPNHAN], [GHICHU]) VALUES (1, 8, N'Xuất trang thiết bị về Khoa', CAST(0x0000AF7200000000 AS DateTime), N'KHOA02', 0, N'NGUYỄN HOÀNG DƯƠNG', N'')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [THOIGIANXUAT], [NOIDUNG], [NGAYXUAT], [MAPHBAN], [CHAPNHAN], [NGUOICHAPNHAN], [GHICHU]) VALUES (2, 8, N'Xuất trang thiết bị về Khoa', CAST(0x0000AEF900000000 AS DateTime), N'KHOA02', 1, N'NGUYỄN HOÀNG DƯƠNG', N'')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [THOIGIANXUAT], [NOIDUNG], [NGAYXUAT], [MAPHBAN], [CHAPNHAN], [NGUOICHAPNHAN], [GHICHU]) VALUES (3, 12, N'Xuất trang thiết bị về Khoa', CAST(0x0000AF7600000000 AS DateTime), N'KHOA02', 1, N'NGUYỄN HOÀNG DƯƠNG', N'')
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] OFF
INSERT [dbo].[PHONGBAN] ([MAPHBAN], [TENPHBAN], [DIADIEM], [GHICHU]) VALUES (N'KHOA01', N'KHOA CÔNG NGHỆ THÔNG TIN', N'LẦU B', N'CUNG CẤP THIẾT BỊ VÀ DỤNG CỤ CHO PHÒNG LAB')
INSERT [dbo].[PHONGBAN] ([MAPHBAN], [TENPHBAN], [DIADIEM], [GHICHU]) VALUES (N'KHOA02', N'KHOA CÔNG NGHIỆP THỰC PHẨM', N'LẦU B', N'CUNG CẤP THIẾT BỊ VÀ DỤNG CỤ CHO PHÒNG LAB')
INSERT [dbo].[PHONGBAN] ([MAPHBAN], [TENPHBAN], [DIADIEM], [GHICHU]) VALUES (N'KHOA03', N'KHOA CÔNG NGHỆ HÓA HỌC', N'LẦU F', N'CUNG CẤP THIẾT BỊ VÀ DỤNG CỤ CHO PHÒNG LAB')
SET IDENTITY_INSERT [dbo].[PHONGLAB] ON 

INSERT [dbo].[PHONGLAB] ([MAPHLAB], [SOPHONG], [HINHANH], [TRANGTHAI], [LOAIPHONG], [SUCCHUA], [DIADIEM], [GHICHU], [LABActive]) VALUES (1, N'A110', N'hinh01.jpg', 1, 2, 20, N'140 LÊ TRỌNG TẤN TPHCM QUẬN TÂN PHÚ', N'PHÒNG ĐANG NÂNG CẤP VÀ SỬA SANG', 0)
INSERT [dbo].[PHONGLAB] ([MAPHLAB], [SOPHONG], [HINHANH], [TRANGTHAI], [LOAIPHONG], [SUCCHUA], [DIADIEM], [GHICHU], [LABActive]) VALUES (2, N'A111', N'hinh02.jpg', 1, 3, 30, N'140 LÊ TRỌNG TẤN TPHCM QUẬN TÂN PHÚ', N'PHÒNG ĐANG NÂNG CẤP VÀ SỬA SANG', 1)
INSERT [dbo].[PHONGLAB] ([MAPHLAB], [SOPHONG], [HINHANH], [TRANGTHAI], [LOAIPHONG], [SUCCHUA], [DIADIEM], [GHICHU], [LABActive]) VALUES (3, N'A112', N'hinh03.jpg', 0, 1, 10, N'140 LÊ TRỌNG TẤN TPHCM QUẬN TÂN PHÚ', N'PHÒNG ĐANG NÂNG CẤP VÀ SỬA SANG', 0)
SET IDENTITY_INSERT [dbo].[PHONGLAB] OFF
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [GIOITINH]) VALUES (N'SV01', N'PHAN KIỀU', CAST(0x0000911500000000 AS DateTime), N'NỮ')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [GIOITINH]) VALUES (N'SV02', N'PHAN KIỀU TRINH', CAST(0x0000913400000000 AS DateTime), N'NỮ')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [GIOITINH]) VALUES (N'SV03', N'PHAN THANH TÚ', CAST(0x0000903E00000000 AS DateTime), N'NAM')
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [QUICACH], [SLBANDAU], [SLXUAT], [SLTON], [SLTHANHLY], [TAPHUAN], [SERIAL], [HINHANH], [MALOAI]) VALUES (N'TB01', N'THÙNG MÁY CPU', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 150, 30, 120, 0, 1, N'OHHJW29093', N'tb01.jpg', N'LOAI02')
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [QUICACH], [SLBANDAU], [SLXUAT], [SLTON], [SLTHANHLY], [TAPHUAN], [SERIAL], [HINHANH], [MALOAI]) VALUES (N'TB02', N'QUẠT TẢN NHIỆT', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 150, 30, 120, 0, 1, N'OBDGHSH281', N'tb02.jpg', N'LOAI02')
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [QUICACH], [SLBANDAU], [SLXUAT], [SLTON], [SLTHANHLY], [TAPHUAN], [SERIAL], [HINHANH], [MALOAI]) VALUES (N'TB03', N'CPU', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 150, 30, 120, 0, 1, N'HDKSKAN892', N'tb03.jpg', N'LOAI02')
INSERT [dbo].[THIETBI_CNTP] ([MATB], [TENTB], [QUICACH], [SLTON], [SLTHANHLY], [SERIAL]) VALUES (N'TB01', N'THÙNG MÁY CPU', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 30, 0, N'OHHJW29093')
INSERT [dbo].[THIETBI_CNTP] ([MATB], [TENTB], [QUICACH], [SLTON], [SLTHANHLY], [SERIAL]) VALUES (N'TB02', N'QUẠT TẢN NHIỆT', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 30, 0, N'OBDGHSH281')
INSERT [dbo].[THIETBI_CNTP] ([MATB], [TENTB], [QUICACH], [SLTON], [SLTHANHLY], [SERIAL]) VALUES (N'TB03', N'CPU', N'SẢN PHẨM PHẢI ĐẠT LOẠI TỐT', 30, 0, N'HDKSKAN892')
SET IDENTITY_INSERT [dbo].[TTBTRA] ON 

INSERT [dbo].[TTBTRA] ([MAHT_id], [MAHC_id], [MATB_id], [MADC_id], [SOLUONGTRA]) VALUES (1, N'HC01', N'TB01', N'DC01', 2)
INSERT [dbo].[TTBTRA] ([MAHT_id], [MAHC_id], [MATB_id], [MADC_id], [SOLUONGTRA]) VALUES (2, N'HC02', N'TB01', N'DC01', 4)
INSERT [dbo].[TTBTRA] ([MAHT_id], [MAHC_id], [MATB_id], [MADC_id], [SOLUONGTRA]) VALUES (3, N'HC03', N'TB01', N'DC01', 6)
SET IDENTITY_INSERT [dbo].[TTBTRA] OFF
INSERT [dbo].[TTDANGKY] ([MATT], [TRANGTHAI]) VALUES (1, N'ÐÃ ÐANG KÝ')
INSERT [dbo].[TTDANGKY] ([MATT], [TRANGTHAI]) VALUES (2, N'CÒN TR?NG')
ALTER TABLE [dbo].[CHITIETKIEMDUYET] ADD  DEFAULT (getdate()) FOR [NGAYDUYET]
GO
ALTER TABLE [dbo].[HOANTRA] ADD  DEFAULT (getdate()) FOR [NGAYTRA]
GO
ALTER TABLE [dbo].[LISTTHANHLY] ADD  DEFAULT (N'CHỜ THANH LÝ') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUKIEMDUYET] ADD  DEFAULT (N'NHÀ CUNG CẤP VÀ PHÂN PHỐI BÌNH ĐIỀN') FOR [TENNCC]
GO
ALTER TABLE [dbo].[PHIEUKIEMDUYET] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_DUNGCU]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_HOACHAT] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_HOACHAT]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_NCC]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETKIEMDUYET]  WITH CHECK ADD  CONSTRAINT [FK_MAKD_MAHC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CHITIETKIEMDUYET] CHECK CONSTRAINT [FK_MAKD_MAHC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_DC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_DC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_HC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_HC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_TB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_TB]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_KHOA_HOACHAT_CNTP] FOREIGN KEY([MAHC_CNTP])
REFERENCES [dbo].[HOACHAT_CNTP] ([MAHC_CNTP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_KHOA_HOACHAT_CNTP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CNPNK_MADC] FOREIGN KEY([MADC_CNTP])
REFERENCES [dbo].[DUNGCU_CNTP] ([MADC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_CNPNK_MADC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CTPNK_MATB] FOREIGN KEY([MATB_CNTP])
REFERENCES [dbo].[THIETBI_CNTP] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_CTPNK_MATB]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUTHANHLY_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY] CHECK CONSTRAINT [FK_CHITIETPHIEUTHANHLY_DUNGCU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUTHANHLY_HOACHAT] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY] CHECK CONSTRAINT [FK_CHITIETPHIEUTHANHLY_HOACHAT]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUTHANHLY_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHANHLY] CHECK CONSTRAINT [FK_CHITIETPHIEUTHANHLY_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_DC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_DC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_HC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_HC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_HC_CNTP] FOREIGN KEY([MAHC_CNTP])
REFERENCES [dbo].[HOACHAT_CNTP] ([MAHC_CNTP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_HC_CNTP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_TB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_TB]
GO
ALTER TABLE [dbo].[CT_DUNGCU]  WITH CHECK ADD  CONSTRAINT [FK_CT_DUNGCU_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CT_DUNGCU] CHECK CONSTRAINT [FK_CT_DUNGCU_DUNGCU]
GO
ALTER TABLE [dbo].[CT_HOACHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOACHAT_HOACHAT] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CT_HOACHAT] CHECK CONSTRAINT [FK_CT_HOACHAT_HOACHAT]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_DC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_DC]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_HC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_HC]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_TB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_TB]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRA_DC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] CHECK CONSTRAINT [FK_CT_PHIEUTRA_DC]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRA_HC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] CHECK CONSTRAINT [FK_CT_PHIEUTRA_HC]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRA_TB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] CHECK CONSTRAINT [FK_CT_PHIEUTRA_TB]
GO
ALTER TABLE [dbo].[CT_THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CT_THIETBI_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CT_THIETBI] CHECK CONSTRAINT [FK_CT_THIETBI_THIETBI]
GO
ALTER TABLE [dbo].[DOIMATKHAU]  WITH CHECK ADD  CONSTRAINT [FK_DOIMATKHAU_NGUOIDUNG] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
GO
ALTER TABLE [dbo].[DOIMATKHAU] CHECK CONSTRAINT [FK_DOIMATKHAU_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DUNGCU]  WITH CHECK ADD  CONSTRAINT [FK_MALOAI_DC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITTB] ([MALOAI])
GO
ALTER TABLE [dbo].[DUNGCU] CHECK CONSTRAINT [FK_MALOAI_DC]
GO
ALTER TABLE [dbo].[DUNGCU_CNTP]  WITH CHECK ADD  CONSTRAINT [FK_DUNGCU_CNTP_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[DUNGCU_CNTP] CHECK CONSTRAINT [FK_DUNGCU_CNTP_DUNGCU]
GO
ALTER TABLE [dbo].[DUTRUDUNGCU]  WITH CHECK ADD  CONSTRAINT [FK_DUTRUDUNGCU_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[DUTRUDUNGCU] CHECK CONSTRAINT [FK_DUTRUDUNGCU_DUNGCU]
GO
ALTER TABLE [dbo].[DUTRUHOACHAT]  WITH CHECK ADD  CONSTRAINT [FK_DUTRUHOACHAT_HOACHAT] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[DUTRUHOACHAT] CHECK CONSTRAINT [FK_DUTRUHOACHAT_HOACHAT]
GO
ALTER TABLE [dbo].[DUTRUTHIETBI]  WITH CHECK ADD  CONSTRAINT [FK_DUTRUTHIETBI_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[DUTRUTHIETBI] CHECK CONSTRAINT [FK_DUTRUTHIETBI_THIETBI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_PHBAN] FOREIGN KEY([MAPHBAN])
REFERENCES [dbo].[PHONGBAN] ([MAPHBAN])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_PHBAN]
GO
ALTER TABLE [dbo].[HOACHAT]  WITH CHECK ADD  CONSTRAINT [FK_HOACHAT_LOAIHC] FOREIGN KEY([MALHC])
REFERENCES [dbo].[LOAIHOACHAT] ([MALHC])
GO
ALTER TABLE [dbo].[HOACHAT] CHECK CONSTRAINT [FK_HOACHAT_LOAIHC]
GO
ALTER TABLE [dbo].[HOACHAT]  WITH CHECK ADD  CONSTRAINT [FK_MALOAI_HC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITTB] ([MALOAI])
GO
ALTER TABLE [dbo].[HOACHAT] CHECK CONSTRAINT [FK_MALOAI_HC]
GO
ALTER TABLE [dbo].[HOACHAT_CNTP]  WITH CHECK ADD  CONSTRAINT [FK_HOACHAT_CNTP_HOACHAT] FOREIGN KEY([MAHC_CNTP])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[HOACHAT_CNTP] CHECK CONSTRAINT [FK_HOACHAT_CNTP_HOACHAT]
GO
ALTER TABLE [dbo].[HOACHAT_CNTP]  WITH CHECK ADD  CONSTRAINT [FK_HOACHAT_CNTP_LOAIHOACHAT] FOREIGN KEY([MALHC])
REFERENCES [dbo].[LOAIHOACHAT] ([MALHC])
GO
ALTER TABLE [dbo].[HOACHAT_CNTP] CHECK CONSTRAINT [FK_HOACHAT_CNTP_LOAIHOACHAT]
GO
ALTER TABLE [dbo].[LISTTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_LISTTL_DUNGCU] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[LISTTHANHLY] CHECK CONSTRAINT [FK_LISTTL_DUNGCU]
GO
ALTER TABLE [dbo].[LISTTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_LISTTL_HOACHAT] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[LISTTHANHLY] CHECK CONSTRAINT [FK_LISTTL_HOACHAT]
GO
ALTER TABLE [dbo].[LISTTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_LISTTL_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[LISTTHANHLY] CHECK CONSTRAINT [FK_LISTTL_THIETBI]
GO
ALTER TABLE [dbo].[MUONDC]  WITH CHECK ADD  CONSTRAINT [FK_MUONDC_MADC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[MUONDC] CHECK CONSTRAINT [FK_MUONDC_MADC]
GO
ALTER TABLE [dbo].[MUONHC]  WITH CHECK ADD  CONSTRAINT [FK_MUONHC_MAHC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[MUONHC] CHECK CONSTRAINT [FK_MUONHC_MAHC]
GO
ALTER TABLE [dbo].[MUONTB]  WITH CHECK ADD  CONSTRAINT [FK_MUONTB_MATB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[MUONTB] CHECK CONSTRAINT [FK_MUONTB_MATB]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_PHANQUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_PHANQUYEN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_ND] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_ND]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHOA_HOACHAT_CNTP] FOREIGN KEY([MAHC_CNTP])
REFERENCES [dbo].[HOACHAT_CNTP] ([MAHC_CNTP])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_PHIEUNHAP_KHOA_HOACHAT_CNTP]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_PNK_MADC] FOREIGN KEY([MADC_CNTP])
REFERENCES [dbo].[DUNGCU_CNTP] ([MADC])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_PNK_MADC]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_PNK_MATB] FOREIGN KEY([MATB_CNTP])
REFERENCES [dbo].[THIETBI_CNTP] ([MATB])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHOA] CHECK CONSTRAINT [FK_PNK_MATB]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_ND] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_ND]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_PHONGBAN] FOREIGN KEY([MAPHBAN])
REFERENCES [dbo].[PHONGBAN] ([MAPHBAN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_PHONGBAN]
GO
ALTER TABLE [dbo].[PHIEUXUATPHONGLAB]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATPHONGLAB_PHLAB] FOREIGN KEY([MAPHLAB])
REFERENCES [dbo].[PHONGLAB] ([MAPHLAB])
GO
ALTER TABLE [dbo].[PHIEUXUATPHONGLAB] CHECK CONSTRAINT [FK_PHIEUXUATPHONGLAB_PHLAB]
GO
ALTER TABLE [dbo].[PHONGLAB]  WITH CHECK ADD  CONSTRAINT [FK_PHONGLAB_LOAIPHONGLAB] FOREIGN KEY([LOAIPHONG])
REFERENCES [dbo].[LOAIPHONGLAB] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONGLAB] CHECK CONSTRAINT [FK_PHONGLAB_LOAIPHONGLAB]
GO
ALTER TABLE [dbo].[SUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_SK_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[SUKIEN] CHECK CONSTRAINT [FK_SK_GV]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_MALOAI_TB] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITTB] ([MALOAI])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_MALOAI_TB]
GO
ALTER TABLE [dbo].[THIETBI_CNTP]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_CNTP_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[THIETBI_CNTP] CHECK CONSTRAINT [FK_THIETBI_CNTP_THIETBI]
GO
ALTER TABLE [dbo].[TRADC]  WITH CHECK ADD  CONSTRAINT [FK_TRADC_MADC] FOREIGN KEY([MADC])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[TRADC] CHECK CONSTRAINT [FK_TRADC_MADC]
GO
ALTER TABLE [dbo].[TRAHC]  WITH CHECK ADD  CONSTRAINT [FK_TRAHC_MAHC] FOREIGN KEY([MAHC])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[TRAHC] CHECK CONSTRAINT [FK_TRAHC_MAHC]
GO
ALTER TABLE [dbo].[TRATB]  WITH CHECK ADD  CONSTRAINT [FK_TRATB_MATB] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[TRATB] CHECK CONSTRAINT [FK_TRATB_MATB]
GO
ALTER TABLE [dbo].[TTBTRA]  WITH CHECK ADD  CONSTRAINT [FK_TTBTRA_MADC] FOREIGN KEY([MADC_id])
REFERENCES [dbo].[DUNGCU] ([MADC])
GO
ALTER TABLE [dbo].[TTBTRA] CHECK CONSTRAINT [FK_TTBTRA_MADC]
GO
ALTER TABLE [dbo].[TTBTRA]  WITH CHECK ADD  CONSTRAINT [FK_TTBTRA_MAHC] FOREIGN KEY([MAHC_id])
REFERENCES [dbo].[HOACHAT] ([MAHC])
GO
ALTER TABLE [dbo].[TTBTRA] CHECK CONSTRAINT [FK_TTBTRA_MAHC]
GO
ALTER TABLE [dbo].[TTBTRA]  WITH CHECK ADD  CONSTRAINT [FK_TTBTRA_MAHT] FOREIGN KEY([MAHT_id])
REFERENCES [dbo].[HOANTRA] ([MAHT])
GO
ALTER TABLE [dbo].[TTBTRA] CHECK CONSTRAINT [FK_TTBTRA_MAHT]
GO
ALTER TABLE [dbo].[TTBTRA]  WITH CHECK ADD  CONSTRAINT [FK_TTBTRA_MATB] FOREIGN KEY([MATB_id])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[TTBTRA] CHECK CONSTRAINT [FK_TTBTRA_MATB]
GO
